<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <style>
        ul li {
            display: inline-block;
            padding: 12px;
        }
        a {
            text-decoration: none;
        }
    </style>
</head>
<body>
  <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="/works">Works</a></li>
      <li><a href="photos">Photos</a></li>
  </ul>
  <h1 style="margin-bottom: 30px; text-align: center;">Nossos trabalhos</h1>
  <p style="margin-bottom: 30px; text-align: center;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque nesciunt aspernatur nostrum <br>
      dignissimos esse ipsam recusandae aut amet at illo placeat, nam quis praesentium excepturi,  <br>
       fugit sapiente fugiat laborum! Voluptas!</p>
       <p style="margin-bottom: 30px; text-align: center;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque nesciunt aspernatur nostrum <br>
        dignissimos esse ipsam recusandae aut amet at illo placeat, nam quis praesentium excepturi,  <br>
         fugit sapiente fugiat laborum! Voluptas!</p>
         <p style="margin-bottom: 30px; text-align: center;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque nesciunt aspernatur nostrum <br>
            dignissimos esse ipsam recusandae aut amet at illo placeat, nam quis praesentium excepturi,  <br>
             fugit sapiente fugiat laborum! Voluptas!</p>
</body>
</html>